body{
    margin:0;
    padding:0 5rem;
}
section{
    margin:20px 0px;
}

#search-div{
    display: flex;
    justify-content: center;
}
#search-input{
    padding:15px 30px;
    background: #d4d4d3;
    border-radius: 6px 0 0 6px;
    border-width: 0;
}
#search-button{
    padding:15px 30px;
    background: #F06C4E;
    border-radius: 0px 6px 6px 0px;
    border-width: 0;
    color:#FFFFFF


}
/*********************** menu section style***********************/
#menu-section {
    /* padding:0 5rem; */
}
#all-menues{
    /* align-items: center; */
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:25px;
}

.one-menu{
    /* align-self: center; */
    width:270px;
    /* height:300px; */
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    background: #d4d4d3;
}

.image-menu{
    width: 100%;
    height: 226px;
    border-radius: 10px 10px 0px 0px;
    
}

.name-menu {
    text-align: center;
}

/******************recipe section style****************************/
#recipe-section {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

#recipe-div{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#recipe-image {
    width:30rem;
    border-radius: 10px;
}