body{
    font-family: 'Roboto', sans-serif;
    margin: -20px 0 0 0;
    padding:0 5rem;
}
section{
    margin:20px 0px;
}

/************************header section style ***********************/

#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-div {
    display: contents;
}
#header-div div {
    display: flex;
}
#header-div h3 {
    font-family: cursive;
    color:#F06C4E;
}
#header-div img {
    width: 80px;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #nav-ul li {
    float: right;
  }
  
  #nav-ul li a {
    display: block;
    color: #383838;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav-ul li a:hover {
    background-color: #d4d4d3;
  }
#dropdown-menu{
    display: none;
}


/*************************search section style****************************/
#search-div{
    display: flex;
    justify-content: center;
}
#search-input{
    font-family:'Roboto', FontAwesome;
    padding:15px 30px;
    background: #d4d4d3;
    border-radius: 6px 0 0 6px;
    border-width: 0;
}
#search-button ,#error-button{
    padding:15px 30px;
    background: #F06C4E;
    border-radius: 0px 6px 6px 0px;
    border-width: 0;
    color:#FFFFFF
}

/****************************error alert div style**********************************/
#error-alert-div{
    display: none;
    width: 50%;
    text-align: center;
    margin: auto;
}
#error-message {
    margin-block-start: 0;
}
#error-button {
    border-radius: 6px;
}

/******************recipe section style****************************/
#recipe-section {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding:10px 0;
}
#recipe-div{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
#recipe-image {
    align-self: center;
    width:30rem;
    border-radius: 10px;
}
#ingredient-list {
    padding-inline-start: 0;
}
#ingredient-list i{
    color:#F06C4E;
}

/*********************** menu section style***********************/

#all-menues{
    align-items: center;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:25px;
    margin: 0 auto;
}
.one-menu{
    justify-self: center;
    width:270px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    background: #d4d4d3;
}
.image-menu{
    width: 100%;
    height: 226px;
    border-radius: 10px 10px 0px 0px;
}
.name-menu {
    text-align: center;
}


/***************************media queries ***************************************/
@media  (max-width: 1350px) and (min-width: 1050px) {
    #all-menues{
        grid-template-columns: repeat(3,1fr);
    }

}

@media  (max-width: 1050px) {
    #all-menues{
        grid-template-columns: repeat(2,1fr);
    }

}
@media  (max-width: 750px) {
    #header-section{
        align-items: flex-start;
    }
    #nav-ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .nav-li{
       display: none;
    }
    #dropdown-menu{
        display: block;
    }
    #all-menues{
        grid-template-columns: repeat(1,1fr);
    }
    #recipe-image{
        width:100%;
    }
}


