body{
    margin:0;
    padding:0 5rem;
}


/*********************** menu section style***********************/
#menu-section {
    /* padding:0 5rem; */
}
#all-menues{
    /* align-items: center; */
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:25px;
}

.one-menu{
    /* align-self: center; */
    width:270px;
    /* height:300px; */
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    background-color: green;
}

.image-menu{
    width: 100%;
    height: 226px;
    border-radius: 10px 10px 0px 0px;
    
}

.name-menu {
    text-align: center;
}